/*
Dark Theme for Beaver Builder UI
By Brent Jett

Panel BG Color: #23282d
Main Text Color: #ffffff
Seperator Color: black
*/

/* Main Backgrounds */
body .fl-builder-panel,
body .fl-builder-bar-content,
body .fl-lightbox,
body .fl-lightbox-header {
    background-color:#23282d;
    border-color:black;
}

body .fl-builder-panel {
    border-color: #000;
}
body .fl-builder-bar-content {
    border-bottom: 1px solid #000;
}
body .fl-builder-bar-title {
    color:#B4B6B9;
}

/* Buttons */
body .fl-builder-bar .fl-builder-button,
body .fl-lightbox .fl-builder-button {
    border-color: #7B8792;
    color: #ffffff;
    box-shadow: none;
    background: #46505A;
}
/* PRIMARY BUTTON */
body .fl-builder-button.fl-builder-button-primary {
    background: #0073aa;
    border-color: #0073aa;
    color: #ffffff !important;
}

body .fl-builder-blocks-section {
    transition-property: background;
    transition-duration: .35s;
}
body .fl-builder-blocks-section .fl-builder-blocks-section-title {
    color:#A7A7A7;
    border-color: transparent;
}
body .fl-builder-blocks-section-content .fl-builder-block {
    border-color: transparent;
    color: #B7B7B7;
}
body .fl-builder-blocks-section .fl-builder-blocks-section-title:hover,
body .fl-builder-blocks-section .fl-builder-blocks-section-title:hover i {
    background:transparent;
    color:#00b9eb;
}
body .fl-builder-blocks-section.fl-active {
    background: #0073aa;
}
/* Active block section */
body .fl-builder-blocks-section.fl-active .fl-builder-blocks-section-title,
body .fl-builder-blocks-section.fl-active .fl-builder-blocks-section-title i,
body .fl-builder-blocks-section.fl-active .fl-builder-blocks-section-title:hover,
body .fl-builder-blocks-section.fl-active .fl-builder-blocks-section-title:hover i {
    background:transparent;
    color: #ffffff !important;
}

body .fl-builder-blocks-section-content .fl-builder-block {
    transition-property: color;
    transition-duration: .15s;
    color:#B4B9BE !important;
}
body .fl-builder-blocks-section-content .fl-builder-block:hover {
    background:transparent;
    color: #00b9eb !important;
}

/* Secondary Fill Color */
body .fl-builder-panel-actions,
body .fl-builder-blocks-separator {
    background: #32373c;
    border-color: #272D33;
}
body .fl-builder-blocks-separator {
    border:none;
}
/* module list expanded */
body .fl-builder-blocks-section-content {
    background:#32373c;
}

/* Modal */
body .fl-lightbox *:not(i) {
    color:#989898 !important;
}
body .fl-lightbox input,
body .fl-lightbox select {
    color:#333 !important;
}
body .fl-builder-actions-title {
    color:#aaa !important;
}

body .fl-lightbox-header h1 {
    color:#dddddd !important;
}

body .fl-builder-settings-fields h3.fl-builder-settings-title,
body .fl-lightbox .fl-builder-settings-tab-description {
    color:#A7A7A7;
    border-color:black;
}

body .fl-builder-settings-tabs {
    background: #2C3135;
    border-bottom: 1px solid #000000;
}
body .fl-builder-settings-tabs a:hover {
    color:#dddddd;
}
body .fl-builder-settings-tabs a.fl-active {
    background-color:#23282D;
    color:#A7A7A7;
    border-color:black;
}
body .fl-form-table th {
    background: transparent !important;
}
body .fl-builder-settings-fields label {
    color:#A7A7A7;
}
body .fl-lightbox-footer {
    border-color:black;
}

body .fl-user-templates,
body .fl-user-template {
    border-color:black;
}
body .fl-user-template:hover {
    background:#FBB040;
}
/*
body .fl-user-template:hover *,
body .fl-user-template:hover a {
    color: #333 !important;
}
*/
/* Template thumbnail outline */
body .fl-template-image:hover {
    border-color: #0073aa;
}


body .fl-builder-settings-fields textarea:focus,
body .fl-builder-settings-fields input[type=text]:focus,
body .fl-builder-settings-fields input[type=password]:focus,
body .fl-builder-settings-fields input[type=file]:focus,
body .fl-builder-settings-fields input[type=email]:focus,
body .fl-builder-settings-fields input[type=number]:focus,
body .fl-builder-settings-fields input[type=search]:focus,
body .fl-builder-settings-fields input[type=tel]:focus,
body .fl-builder-settings-fields input[type=url]:focus,
body .fl-builder-settings-fields select:focus {
    background-color:white !important;
}
