body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background:white;
    margin:0;
    padding:0;
}

h1, h2, h3, h4 {
    font-weight: 200;
    line-height: 1.5;
    margin:6px 0;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size:28px;
}
h3 {
    font-size:24px;
}
h1:first-child {
    margin-top:0;
}
blockquote {
    font-style: italic;
    border-left:3px solid #aaa;
    margin:10px 0;
    padding:8px 20px;
    font-size:24px;
}
blockquote p {
    margin:0;
    font-size: inherit;
    line-height: 1.5;
}
